.App {
  height: 100vh;
  text-align: center;
  background-color: rgb(183, 236, 255);
}

button {
  border-radius: 5px;
  color: white;
  background-color: rgb(25, 140, 228);
}

a {
  /* color: rgb(212, 255, 254); */
  color: rgb(0, 102, 181);
}

a:hover {
  text-decoration: none;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
